*{
    font-family: sans-serif;
}
/* .box-shadow {
    box-shadow: 0px 12px 28px rgba(219, 210, 210, 0.514);
} */
.text-effect {
    position: relative;
}
.text-effect::after{
    content: '';
    position: absolute;
    left: 28em;
    bottom: -0.2em;
    width: 0;
    height: 3px;
    transition: all linear 0.4s;
}
.text-effect:hover::after{
    width: 8%;
    background-color: blue;
}
.progress-work {
    width: 5px;
    height: 20vh;
    background-color: blue;
    position: relative;
    transition: all linear 0.4s;
    border-end-start-radius: 4px;
    border-end-end-radius: 4px;
}
.progress-work::before {
    content: "";
    position: absolute;
    left: -8px;
    top: 0;
    width: 21px;
    height: 21px;
    background-color: blueviolet;
    border-radius: 50%;
}
.progress-work:hover {
    height: 20vh;
}
.nav-hidden-css {
    display: flex;

}


.mobile-nav-link {
    position: relative;
}
.mobile-link{
    position: absolute;
    /* top: 0; */
    right: 0;
    width: 100%;
    height: 100dvh;
    background-color: rgb(17, 19, 19);
    padding: 1rem;
}
.close-icon {
    position: absolute;
    right: 0;
}

@media (max-width: 567px){
    .nav-hidden-css{
        display: none;
    }
}